header{
    position: relative!important;
    background: #ffffff;
}
header ul{
    height: 100px;
    padding:20px 10px;
}
header ul li:nth-of-type(2){
    width: 66%;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}
header ul li img{
    width: 30px;
}
@media (min-width: 412px) {
    header ul li:nth-of-type(2){
        font-size: 20px;
    }
}
@media (min-width: 768px) {
    header ul li:nth-of-type(2){
        font-size: 24px;
        width: 80%;
    }
    header ul li img{
        width: 40px;
        height: 40px;
    }
}
/*-------------------------------------main------------------------------*/
main{
    padding: 40px 20px;
}
main form li{
    padding-bottom: 10px;
    position: relative;
}
main form li input{
    width: 100%;
    border: 0;
    height: 50px;
    border-bottom: 1px solid #c9c9c9;
    font-size: 18px;
    background-image: url(../images/login/phone.jpg);
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 10%;
    padding-left: 46px;
}
main form li:nth-of-type(2) input{
    background-image: url(../images/login/yzm.jpg);
    background-size: 7%;
}
main form li:nth-of-type(3) input{
    background-image: url(../images/login/pwd.jpg);
    background-size: 7%;
}
main form li:nth-of-type(4) input{
    background-image: url(../images/login/people.jpg);
    background-size: 7%;
}
@media (min-width: 768px) {
    main form li input{
        height: 50px;
        background-size: 6%;
    }
    main form li:nth-of-type(2) input{
        background-size: 4%;
    }
    main form li:nth-of-type(3) input{
        background-size: 4%;
    }
    main form li:nth-of-type(4) input{
        background-size: 4%;
    }
}
main form li .yzm{
    position: absolute;
    right: 0px;
    top: 5px;
    background: #444444;
    color: #fff;
    font-size: 12px;
    padding: 3px 8px;
    border-radius: 15px;
}
main form li.Login input{
    background: #B0B0B0;
    color: #fff;
    padding-left: 0;
}
main form .Login input:hover{
    background: #6A0C1A;
    color: #fff;
    padding-left: 0;
}
main form ul .Radio{
    font-size: 14px;
    background: url("../images/login/yes.jpg") no-repeat left 10px;
    line-height: 40px;
    padding-left: 30px;
    padding-bottom: 0;
}
main form ul li:last-child a{
    float: left;
    width: 50%;
    font-size: 12px;
    color: #83B3EB;
}

